* {
	box-sizing: border-box;
	cursor: default;
}

body {
	margin: 0;
	/* padding: 0; */
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	background-image: url("images/pexels-photo-110575.jpeg");
	background-repeat: no-repeat;
	background-position: center;
}

img {
	max-width: 100%;
	height: auto;
}

html {
	font-size: 1rem;
}

@media screen and (min-width: 20rem) {
	html {
		font-size: calc(1rem + 6 * ((100vw - 320px) / 680));
	}
}

@media screen and (min-width: 62.5rem) {
	html {
		font-size: 1.375rem;
	}
}
/*****************Header********************/

header {
	height: 11vh;
	width: 100vw;
	padding-top: 0.5em;
}

.header-container {
	height: 95%;
	width: auto;
	background: rgba(255, 255, 255, 0.815);
	/* border-radius: 1em; */
	margin: 0 auto;
	box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2), 0 0.333334em 1.25em 0 rgba(0, 0, 0, 0.19);
}

.title,
.detail {
	margin: 0;
	padding: 0.19em;
	color: #bd8e00;
}

@media screen and (min-width: 64rem) and (orientation: portrait) {
	.header-container {
		height: 80%;
		/* width: 95%; */
	}
}

@media screen and (min-width: 64rem) and (orientation: landscape) {
	.title,
	.detail {
		padding: 0;
	}

	.title {
		font-size: 1.5em;
		padding: 0.3em;
	}

	.detail {
		font-size: 1em;
	}
}

@media screen and (max-width: 52rem) and (orientation: landscape) {
	.detail {
		visibility: hidden;
	}

	.title {
		padding: 0;
	}
}

@media screen and (max-width: 48rem) and (orientation: portrait) {
	header {
		padding-top: 1em;
	}

	.header-container {
		height: 90%;
		/* width: 96%; */
	}

	.detail {
		font-size: 0.95em;
		padding: 0;
	}

	.outcome-weather {
		height: 33%;
	}
}

@media screen and (max-width: 26rem) and (orientation: portrait) {
	.header-container {
		height: 82%;
		/* width: 88%; */
	}

	.detail {
		visibility: hidden;
	}
}

@media screen and (max-width: 20rem) and (orientation: portrait) {
	.header-container {
		height: 95%;
	}
}

/***************Main-Page******************/

.main-page {
	height: 85vh;
	width: 100vw;
}

.container {
	height: 100%;
	width: 100%;
}

.map-container {
	height: 93%;
	width: 46%;
	position: relative;
}

.results {
	height: 93%;
	width: 46%;
	overflow: hidden;
}

.map-container,
.results {
	margin: 1.9em 1em;
	display: inline-block;
	vertical-align: top;
	background: rgba(236, 236, 236, 0.32);
	border-radius: 0.5em;
	box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2), 0 0.333334em 1.25em 0 rgba(0, 0, 0, 0.19);
}

.search {
	height: 10%;
	width: 100%;
	position: relative;
	/* background-color: rgba(252, 235, 196, 0.8); */
	background-color: rgb(149, 183, 217, 0.8);
	/* border-radius: 1em 1em 0 0; */
}

.search-routes,
.search-weather,
.search-pitStops,
.go-routes,
.go-weather,
.go-pitStops {
	position: absolute;
}

.search-routes,
.search-pitStops {
	top: 46%;
	left: 30%;
	text-align: center;
	/* transform: translate(-60%, -50%); */
}

.search-weather {
	top: 46%;
	left: 41%;
	text-align: center;
}

.search-routes-loc,
.search-pitStops-loc {
	top: 46%;
	left: 49%;
	text-align: center;
	position: absolute;
}

.search span {
	position: absolute;
	top: 13%;
	left: 46%;
}

.go-routes,
.go-pitStops {
	left: 68%;
	top: 45%;
	padding: 0.3em;
	border-radius: 0.5em;
}

.go-weather {
	left: 60%;
	top: 44%;
	padding: 0.3em;
	border-radius: 0.5em;
}

.findWeather,
.findPitStops {
	height: 88%;
	width: 100%;
	overflow-y: scroll;
}

.findRoutes {
	height: 100%;
	width: 100%;
	overflow-y: scroll;
}

.outcome-routes,
.outcome-weather,
.outcome-pitStops {
	height: 25%;
	width: 95%;
	border: 0.15em solid black;
	border-color: rgba(0, 0, 0, 0.6);
	margin: 0.7em;
	background-color: #ffe491;
	display: inline-block;
	border-radius: 0.5em;
}

.outcome-pitStops-img,
.outcome-pitStops-info {
	display: inline-block;
	vertical-align: top;
}

.outcome-pitStops-img {
	height: 70%;
	padding-top: 2%;
	width: 26%;
}

.outcome-pitStops-info {
	height: 70%;
	width: 65%;
	padding-top: 2%;
}

.outcome-pitStops-info h1,
.outcome-pitStops-info h3 {
	margin: 0;
}

.outcome-pitStops-img img {
	height: 100%;
	border-radius: 5%;
}

.starsContainer {
	height: 33%;
	width: 100%;
	padding-top: 2%;
	position: relative;
}

.starsContainer img,
.starsContainer p {
	display: inline-block;
	position: absolute;
	vertical-align: top;
}

.starsContainer img {
	left: 7%;
	height: 80%;
}

.starsContainer p {
	right: 11%;
	margin: 0;
}

.readMore {
	height: 20%;
	width: auto;
	padding-top: 3%;
}

.yelpLink {
	text-decoration: none;
	font-weight: bold;
}

.yelpImgContainer {
	width: 21%;
	height: 35%;
	position: relative;
}

.yelpTradeMarkPic {
	position: absolute;
	left: 20em;
	bottom: -37%;
}

@media screen and (max-width: 86rem) and (orientation: landscape) {
	.container {
		overflow-y: scroll;
	}

	.map-container,
	.results {
		width: 90%;
		margin: 0.9em 0;
	}

	.search span {
		visibility: hidden;
	}

	.search-weather {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.search-pitStops {
		top: 36%;
		left: 38%;
	}

	.search-pitStops-loc {
		top: 36%;
		left: 51%;
	}

	.go-pitStops {
		left: 64%;
		top: 35%;
	}

	.go-weather {
		left: 57%;
		top: 35%;
	}

	.outcome-pitStops-img {
		width: 22%;
	}

	.outcome-pitStops-info h1 {
		font-size: 2em;
	}

	.outcome-pitStops-info h3 {
		font-size: 1.5em;
	}

	.starsContainer img {
		height: 75%;
		left: 15%;
	}

	.starsContainer p {
		right: 16%;
		font-size: 1.3em;
	}

	.yelpTradeMarkPic {
		left: 29em;
		bottom: -52%;
	}

	.yelpLink {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 64rem) and (orientation: portrait) {
	header {
		padding-top: 1em;
	}

	.map-container {
		height: 40%;
		width: 90%;
	}

	.results {
		height: 50%;
		width: 90%;
	}

	.map-container,
	.results {
		margin: 1.5em 0;
	}

	.go-routes,
	.go-pitStops {
		transform: translate(-81%, -40%);
	}

	.go-weather {
		transform: translate(-20%, -33%);
	}

	.search span {
		visibility: hidden;
	}

	.search-routes,
	.search-pitStops {
		top: 32%;
		left: 32%;
	}

	.search-routes-loc,
	.search-pitStops-loc {
		top: 32%;
		left: 49%;
	}

	.search-weather {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.outcome-weather,
	.outcome-pitStops {
		height: 33%;
	}

	.yelpTradeMarkPic {
		left: 23em;
	}

	.starsContainer {
		padding: 0;
	}

	.starsContainer img {
		left: 16%;
		height: 83%;
	}

	.starsContainer p {
		right: 10%;
	}

	.outcome-pitStops-img {
		width: 14%;
	}

	.outcome-pitStops-info {
		padding: 0;
	}

	.findWeather,
	.findPitStops {
		height: 82%;
	}
}

@media screen and (max-width: 64rem) and (orientation: landscape) {
	.search-pitStops {
		top: 29%;
		left: 33%;
	}

	.search-pitStops-loc {
		top: 29%;
	}

	.go-pitStops {
		left: 68%;
		top: 28%;
	}

	.outcome-pitStops-info {
		padding: 0;
	}

	.outcome-pitStops-info h1 {
		font-size: 1.5em;
	}

	.starsContainer img {
		left: 19%;
	}

	.starsContainer p {
		right: 14%;
		font-size: 1em;
	}

	.yelpTradeMarkPic {
		left: 22em;
		bottom: -50%;
	}

	.yelpLink {
		font-size: 1.1em;
	}

	.go-weather {
		left: 59%;
		top: 30%;
	}
}

@media screen and (max-width: 51rem) and (orientation: landscape) {
	.go-routes,
	.go-weather,
	.go-pitStops {
		transform: translate(1%, -41%);
	}

	.outcome-routes,
	.outcome-weather,
	.outcome-pitStops {
		margin: 1.2em;
	}
}

@media screen and (maxwidht: 50.75rem) and (orientation: landscape) {
	.outcome-pitStops {
		height: 48%;
		margin: 0.5em;
	}

	.search-pitStops {
		top: 18%;
		left: 30%;
	}

	.search-pitStops-loc {
		top: 18%;
	}

	.outcome-pitStops-info h1 {
		font-size: 1.3em;
	}

	.go-pitStops {
		transform: translate(76%, -21%);
	}

	.go-weather {
		transform: translate(38%, -23%);
	}

	.starsContainer img {
		left: 11%;
	}

	.starsContainer p {
		right: 9%;
	}

	.yelpTradeMarkPic {
		left: 18em;
	}

	.yelpLink {
		font-size: 1em;
	}
}

@media screen and (max-width: 50rem) and (orientation: portrait) {
	.map-container,
	.results {
		margin: 0.8em 0;
		width: 87%;
		height: 47%;
	}

	.go-routes,
	.go-weather,
	.go-pitStops {
		transform: translate(19%, -35%);
	}

	.outcome-routes,
	.outcome-weather,
	.outcome-pitStops {
		margin: 0.5em;
	}
}

@media screen and (max-width: 48rem) and (orientation: portrait) {
	.search-pitStops {
		left: 26%;
	}

	.go-pitStops {
		transform: translate(95%, -33%);
	}

	.outcome-pitStops-img {
		height: 80%;
	}

	.outcome-pitStops-info {
		padding-top: 1%;
	}

	.outcome-pitStops-info h1 {
		font-size: 1.2em;
	}

	.outcome-pitStops-info h3 {
		font-size: 1em;
	}

	.starsContainer {
		padding: 0;
	}

	.starsContainer img {
		left: 15%;
	}

	.starsContainer p {
		right: 2%;
	}

	.yelpTradeMarkPic {
		left: 18em;
	}

	.readMore {
		padding-top: 1%;
	}
}

@media screen and (max-width: 47rem) and (orientation: portrait) {
	.go-weather,
	.go-pitStops {
		transform: translate(173%, -43%);
	}
}

@media screen and (max-width: 24rem) and (orientation: portrait) {
	.outcome-pitStops-info {
		height: 80%;
	}

	.outcome-pitStops-info h1 {
		font-size: 1em;
	}

	.search-pitStops {
		left: 1%;
		top: 17%;
	}

	.search-pitStops-loc {
		top: 17%;
		left: 46%;
	}

	.findPitStops {
		height: 78%;
	}

	.go-pitStops {
		transform: translate(296%, -48%);
	}

	.starsContainer {
		padding: 1%;
	}

	.starsContainer img {
		left: 8%;
		height: 61%;
	}

	.starsContainer p {
		right: -7%;
		font-size: 0.6em;
	}

	.yelpTradeMarkPic {
		left: 10em;
		bottom: 14%;
	}
}

/***************Footer*******************/

footer {
	height: 4vh;
	width: 100vw;
}

.copyright {
	margin: 0;
	font-size: 0.7em;
	color: #b7b7b7;
}

.icon-moto {
	font-size: 0.7em;
}

/******************TABS**********************/

.tab {
	overflow: hidden;
	border: 0.0625em solid #ccc;
	background-color: #ffffff;
}

.tab button {
	background-color: inherit;
	float: left;
	border-right: 0.125em solid #ccc;
	outline: none;
	cursor: pointer;
	padding: 0.825em 0;
	width: 33.33%;
	font-size: 1em;
	font-weight: bold;
	transition: 0.3s;
}

.tab button:hover {
	background-color: #ccc;
}

.active {
	color: #ff0000;
}

.tabContent {
	height: 95%;
	width: 100%;
	display: none;
	padding: 0.375em 0.75em;
	border: 0.0625em solid #ccc;
	border-top: none;
}

@media screen and (max-width: 64rem) and (orientation: portrait) {
	.tab button {
		padding: 0.875em 0;
	}
}

@media screen and (max-width: 52rem) and (orientation: landscape) {
	.tab button {
		padding: 0.875em 0;
	}
}

@media screen and (max-width: 51rem) and (orientation: landscape) {
	.tabContent {
		height: 80%;
	}
}

/* @media screen and (max-width: 48rem) and (orientation: portrait) {
	.tab button {
		padding: 0.875em 0;
	}
}

@media screen and (max-width: 46rem) and (orientation: landscape) {
	.tab button {
		padding: 0.875em 0;
	}
}

@media screen and (max-width: 42rem) and (orientation: landscape) {
	.tab button {
		padding: 0.875em 0;
	}
}

@media screen and (max-width: 40rem) and (orientation: landscape) {
	.tab button {
		padding: 0.875em 0;
	}
}

@media screen and (max-width: 36rem) and (orientation: landscape) {
	.tab button {
		padding: 0.875em 0;
	}
}

@media screen and (max-width: 26rem) and (orientation: portrait) {
	.tab button {
		padding: 0.875em 0;
	}
}

@media screen and (max-width: 23rem) and (orientation: portrait) {
	.tab button {
		padding: 0.875em 0;
	}
}

@media screen and (max-width: 20rem) and (orientation: portrait) {
	.tab button {
		padding: 0.875em 0;
	}
} */

/***************************** MAP ******************************/
#map {
	height: 86%;
	width: 86%;
	position: absolute;
	top: 7%;
	left: 7%;
	background-color: grey;
	border: 0.125em solid #969696a6;
}

/********************** Right Panel for Map Directions - Draggable Directions ********************/
.adp-directions {
	width: 100%;
}

#right-panel {
	width: 100%;
	height: 100%;
	font-family: "Roboto", "sans-serif";
	line-height: 1.875em;
	padding-left: 0.625em;
	/* border: 0.1em solid red; */
}

#right-panel select,
#right-panel input {
	font-size: 0.9375em;
}

#right-panel select {
	width: 100%;
}

#right-panel i {
	font-size: 0.75em;
}

.panel {
	height: 100%;
	overflow: auto;
}

/******************** Weather Results ********************/
.forecast-img-time,
.weather-info {
	display: inline-block;
	vertical-align: top;
}

.forecast-img-time {
	height: 100%;
	width: 30%;
	word-wrap: break-word;
}

.forecast-img-time p {
	margin: 0;
	font-size: 0.75em;
}

.weather-info {
	height: 100%;
	width: 70%;
	padding-top: 1.5%;
}

.weather-info p {
	margin: 0;
	/* padding: 0.5%; */
}

.weather-icon {
	height: 76%;
}

@media screen and (max-width: 86rem) and (orientation: landscape) {
	.forecast-img-time p {
		font-size: 1em;
	}

	.weather-info {
		padding-top: 0.5%;
	}

	.weather-info p {
		font-size: 1.15em;
	}
}

@media screen and (max-width: 64rem) and (orientation: portrait) {
	.weather-info {
		padding-top: 0.1em;
	}

	.weather-info p {
		padding: 0;
		font-size: 0.8em;
	}

	.weather-icon {
		height: 73%;
	}
}

@media screen and (max-width: 64rem) and (orientation: landscape) {
	.forecast-img-time p {
		font-size: 0.75em;
	}

	.weather-info p {
		font-size: 0.8em;
	}
}

@media screen and (max-width: 48rem) and (orientation: portrait) {
	.forecast-img-time {
		width: 35%;
	}

	.weather-info {
		width: 65%;
	}

	.forecast-img-time p {
		font-size: 0.7em;
	}
}

/* @media screen and (max-width: 64rem) and (orientation: landscape) {
	.weather-icon {
		height: 76%;
	}

	.weather-info {
		padding-top: 1.5%;
	}

	.weather-info p {
		font-size: 1em;
		padding: 0;
	}
} */

@media screen and (max-width: 24rem) and (orientation: portrait) {
	.weather-icon {
		height: 68%;
	}

	.forecast-img-time p {
		font-size: 0.6em;
	}

	.weather-info p {
		font-size: 0.7em;
	}
}

/*************** Pages for Yelp Results (pagination) ****************/
.pagination {
	display: inline-block;
}

/*************** LOADER *****************/
#loader {
	display: none;
}

.ldr-roller {
	display: inline-block;
	position: fixed;
	width: 4em;
	height: 4em;
	top: 50%;
	left: 73%;
}

.ldr-roller div {
	animation: ldr-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 2em 2em;
}

.ldr-roller div:after {
	content: " ";
	display: block;
	position: absolute;
	width: 0.375em;
	height: 0.375em;
	border-radius: 50%;
	background: #7d6802;
	margin: -0.1875em 0 0 -0.1875em;
}

.ldr-roller div:nth-child(1) {
	animation-delay: -0.036s;
}

.ldr-roller div:nth-child(1):after {
	top: 3.125em;
	left: 3.125em;
}

.ldr-roller div:nth-child(2) {
	animation-delay: -0.072s;
}

.ldr-roller div:nth-child(2):after {
	top: 3.375em;
	left: 2.8125em;
}

.ldr-roller div:nth-child(3) {
	animation-delay: -0.108s;
}

.ldr-roller div:nth-child(3):after {
	top: 3.5625em;
	left: 2.4375em;
}

.ldr-roller div:nth-child(4) {
	animation-delay: -0.144s;
}

.ldr-roller div:nth-child(4):after {
	top: 3.625em;
	left: 2em;
}

.ldr-roller div:nth-child(5) {
	animation-delay: -0.18s;
}

.ldr-roller div:nth-child(5):after {
	top: 3.5625em;
	left: 1.5625em;
}

.ldr-roller div:nth-child(6) {
	animation-delay: -0.216s;
}

.ldr-roller div:nth-child(6):after {
	top: 3.375em;
	left: 1.1875em;
}

.ldr-roller div:nth-child(7) {
	animation-delay: -0.252s;
}

.ldr-roller div:nth-child(7):after {
	top: 3.125em;
	left: 0.875em;
}

.ldr-roller div:nth-child(8) {
	animation-delay: -0.288s;
}

.ldr-roller div:nth-child(8):after {
	top: 2.8125em;
	left: 0.625em;
}

@keyframes ldr-roller {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media screen and (max-width: 86rem) and (orientation: landscape) {
	.ldr-roller {
		top: 49%;
		left: 46%;
	}
}

@media screen and (max-width: 64rem) and (orientation: portrait) {
	.ldr-roller {
		top: 71%;
		left: 45%;
	}
}

@media screen and (max-width: 24rem) and (orientation: portrait) {
	.ldr-roller {
		top: 75%;
		left: 40%;
	}
}
