* {
	box-sizing: border-box;
}

body {
	margin: 0;
	/* padding: 0; */
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	background-image: url("images/asphalt-blue-clouds-1133505.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

img {
	max-width: 100%;
	height: auto;
}

/*****************Header********************/

header {
	height: 11vh;
	width: 100vw;
	padding-top: 0.5em;
}

.header-container {
	height: 95%;
	width: 50%;
	background: rgba(220, 211, 202, 0.815);
	border-radius: 1em;
	margin: 0 auto;
	box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2), 0 0.333334em 1.25em 0 rgba(0, 0, 0, 0.19);
}

.title,
.detail {
	margin: 0;
	padding: 0.19em;
	color: #ff3d00;
}

@media screen and (min-width: 85rem) and (orientation: landscape) {
	.title {
		padding: 0.1em;
	}
}

@media screen and (max-width: 52rem) and (orientation: landscape) {
	.detail {
		visibility: hidden;
	}

	.title {
		padding: 0;
	}
}

@media screen and (min-width: 64rem) and (orientation: portrait) {
	.header-container {
		height: 80%;
		width: 95%;
	}

	.title,
	.detail {
		padding: 0.3em;
	}

	.title {
		font-size: 2em;
	}

	.detail {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 48rem) and (orientation: portrait) {
	header {
		padding-top: 1em;
	}

	.header-container {
		height: 90%;
		width: 96%;
	}

	.title {
		padding: 0.3em;
	}
}

@media screen and (max-width: 26rem) and (orientation: portrait) {
	.header-container {
		height: 82%;
		width: 88%;
	}

	.detail {
		visibility: hidden;
	}
}

@media screen and (max-width: 20rem) and (orientation: portrait) {
	.header-container {
		height: 95%;
	}
}

/***************Main-Page******************/

.main-page {
	height: 85vh;
	width: 100vw;
}

.container {
	height: 100%;
	width: 100%;
}

.map-container {
	height: 93%;
	width: 47%;
	position: relative;
}

.results {
	height: 93%;
	width: 47%;
	overflow: hidden;
}

.map-container,
.results {
	margin: 1.9em 1em;
	display: inline-block;
	background: rgba(236, 236, 236, 0.6);
	border-radius: 1em;
	box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2), 0 0.333334em 1.25em 0 rgba(0, 0, 0, 0.19);
}

.search {
	height: 10%;
	width: 100%;
	position: relative;
	background-color: rgba(252, 235, 196, 0.8);
	/* border-radius: 1em 1em 0 0; */
}

.search-routes,
.search-weather,
.search-pitStops,
.go-routes,
.go-weather,
.go-pitStops {
	position: absolute;
}

.search-routes,
.search-weather,
.search-pitStops {
	top: 46%;
	left: 30%;
	/* transform: translate(-60%, -50%); */
}

.search-routes-loc,
.search-pitStops-loc {
	top: 46%;
	left: 49%;
	position: absolute;
}

.search span {
	position: absolute;
	top: 13%;
	left: 46%;
}

.go-routes,
.go-weather,
.go-pitStops {
	left: 70%;
	top: 50%;
	padding: 0.3em;
	border-radius: 0.5em;
	transform: translate(-49%, -23%);
}

.findWeather,
.findPitStops {
	height: 90%;
	width: 100%;
	overflow-y: scroll;
}

.findRoutes {
	height: 100%;
	width: 100%;
	overflow-y: scroll;
}

.outcome-routes,
.outcome-weather,
.outcome-pitStops {
	height: 25%;
	width: 95%;
	border: 0.15em solid black;
	border-color: rgba(0, 0, 0, 0.6);
	margin: 0.7em;
	background-color: beige;
	display: inline-block;
}

.outcome-pitStops-img {
	width: 30%;
}

.outcome-pitStops-info {
	width: 65%;
}

.outcome-pitStops-info h1,
.outcome-pitStops-info h3 {
	margin: 0;
}

.outcome-pitStops-img img {
	height: 100%;
}

.outcome-pitStops-img,
.outcome-pitStops-info {
	height: 95%;
	/* margin: 0.5em; */
	display: inline-block;
}

@media screen and (max-width: 86rem) and (orientation: landscape) {
	.container {
		overflow-y: scroll;
	}

	.map-container,
	.results {
		width: 90%;
		margin: 0.9em 0;
	}

	.search span {
		visibility: hidden;
	}

	.search-routes,
	.search-weather,
	.search-pitStops {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

@media screen and (max-width: 64rem) and (orientation: portrait) {
	header {
		padding-top: 1em;
	}

	.map-container {
		height: 40%;
		width: 90%;
	}

	.results {
		height: 50%;
		width: 90%;
	}

	.map-container,
	.results {
		margin: 1.5em 0;
	}

	.go-routes,
	.go-weather,
	.go-pitStops {
		transform: translate(-49%, -35%);
	}

	.search span {
		visibility: hidden;
	}

	.search-routes,
	.search-weather,
	.search-pitStops {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

@media screen and (max-width: 51rem) and (orientation: landscape) {
	.go-routes,
	.go-weather,
	.go-pitStops {
		transform: translate(1%, -41%);
	}

	.outcome-routes,
	.outcome-weather,
	.outcome-pitStops {
		margin: 1.2em;
	}
}

@media screen and (max-width: 50rem) and (orientation: portrait) {
	.map-container,
	.results {
		margin: 0.8em 0;
		width: 87%;
	}

	.go-routes,
	.go-weather,
	.go-pitStops {
		transform: translate(19%, -35%);
	}

	.outcome-routes,
	.outcome-weather,
	.outcome-pitStops {
		margin: 0.5em;
	}
}

@media screen and (max-width: 47rem) and (orientation: portrait) {
	.go-routes,
	.go-weather,
	.go-pitStops {
		transform: translate(173%, -43%);
	}
}

/***************Footer*******************/

footer {
	height: 4vh;
	width: 100vw;
}

.copyright {
	margin: 0;
	font-size: 0.7em;
	color: #b7b7b7;
}

/******************TABS**********************/

.tab {
	overflow: hidden;
	border: 0.0625em solid #ccc;
	background-color: #f1f1f1;
}

.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 0.875em 5.8em;
	font-size: 1em;
	font-weight: bold;
	transition: 0.3s;
}

.tab button:hover {
	background-color: #ccc;
}

.active {
	color: #ff0000;
}

.tabContent {
	height: 95%;
	width: 100%;
	display: none;
	padding: 0.375em 0.75em;
	border: 0.0625em solid #ccc;
	border-top: none;
}

@media screen and (max-width: 64rem) and (orientation: portrait) {
	.tab button {
		padding: 0.875em 7.5em;
	}
}

@media screen and (max-width: 52rem) and (orientation: landscape) {
	.tab button {
		padding: 0.875em 5.5em;
	}
}

@media screen and (max-width: 51rem) and (orientation: landscape) {
	.tab button {
		padding: 0.875em 5.5em;
	}
}

@media screen and (max-width: 48rem) and (orientation: portrait) {
	.tab button {
		padding: 0.875em 4.9em;
	}
}

@media screen and (max-width: 46rem) and (orientation: landscape) {
	.tab button {
		padding: 0.875em 4.8em;
	}
}

@media screen and (max-width: 42rem) and (orientation: landscape) {
	.tab button {
		padding: 0.875em 4.1em;
	}
}

@media screen and (max-width: 40rem) and (orientation: landscape) {
	.tab button {
		padding: 0.875em 3.8em;
	}
}

@media screen and (max-width: 36rem) and (orientation: landscape) {
	.tab button {
		padding: 0.875em 3.2em;
	}
}

@media screen and (max-width: 26rem) and (orientation: portrait) {
	.tab button {
		padding: 0.875em 1.3em;
	}
}

@media screen and (max-width: 23rem) and (orientation: portrait) {
	.tab button {
		padding: 0.875em 1.2em;
	}
}

@media screen and (max-width: 20rem) and (orientation: portrait) {
	.tab button {
		padding: 0.875em 0.85em;
	}
}

/***************************** MAP ******************************/
#map {
	height: 86%;
	width: 86%;
	position: absolute;
	top: 7%;
	left: 7%;
	background-color: grey;
}

/********************** Right Panel for Map Directions - Draggable Directions ********************/
#right-panel {
	width: 100%;
	height: 100%;
	font-family: "Roboto", "sans-serif";
	line-height: 1.875em;
	padding-left: 0.625em;
	/* border: 0.1em solid red; */
}

#right-panel select,
#right-panel input {
	font-size: 0.9375em;
}

#right-panel select {
	width: 100%;
}

#right-panel i {
	font-size: 0.75em;
}

.panel {
	height: 100%;
	overflow: auto;
}

/******************** Weather Results ********************/
.forecast-img-time,
.weather-info {
	display: inline-block;
}

.forecast-img-time {
	height: 100%;
	width: 30%;
	word-wrap: break-word;
}

.forecast-img-time p {
	margin: 0;
	font-size: 0.75em;
}

.weather-info {
	height: 100%;
	width: 70%;
}

.weather-info p {
	margin: 0;
}
